.item {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  padding: 10px;
}
.avatar {
  background-color: rgba(0, 255, 55, 0.364);
  border-radius: 5px;
  border: solid 1px black;
  margin-right: 10px;
}

.status {
  width: 15px;
  height: 15px;
  background-color: rgb(234, 0, 255);
  margin-right: 10px;
  border-radius: 10px;
}

.onLine {
  background-color: rgb(21, 181, 55);
}

.ofLine {
  background-color: red;
}
